name: "DoeMaarWatt"
version: "1.0.17p"
slug: "doemaarwatt"
description: "Manage charge cycles for home batteries based on dynamic energy prices"
url: "https://github.com/mauritshartman/RUDE_energy"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
homeassistant_api: true
map:
  - share:rw
ingress: true
